.dashboard-body {
  width: 100%;
}

.AppGlass {
  display:grid;
  color:  #231ca0fa ;
  border-radius: 0rem;
  justify-content:flex-start;
  background-color:  #ffffff ;
  backdrop-filter: blur(10px);
  padding-left: 2%;
  overflow:visible;
  grid-template-columns: 20rem auto 30rem;
  gap: 0rem;
}
